@model List<Producto>;

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productos in Model)
        {
            <tr>
                <td>@productos.productoId</td>
                <td>@productos.nombreProducto</td>
                <td>@productos.marca</td>
                <td>Q .@productos.precio</td>
            </tr>
        }
    </tbody>
</table>