@model Producto;

<h5 style="text-align: center;">Agregar Producto</h5>

<form method="post" style="text-align: center;" target="_self">
    <div>
        <label asp-for="nombreProducto">Nombre Producto</label> <br>
        <input asp-for="nombreProducto">
    </div>
    <div>
        <label asp-for="marca">Marca</label> <br>
        <input asp-for="marca">
    </div>
    <div>
        <label asp-for="distintivo">Distintivo</label> <br>
        <input asp-for="distintivo">
    </div>
    <div>
        <label asp-for="color">Color</label> <br>
        <input asp-for="color">
    </div>
    <div>
        <label asp-for="cantidad">Cantidad</label> <br>
        <input asp-for="cantidad">
    </div>
    <div>
        <label asp-for="precio">Precio</label> <br>
        <input asp-for="precio">
    </div> <br>
    <input type="submit" value="Agregar" onclick="alert('Enviada')">
</form>