@model Producto;

<a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="ProductoS">Listar Productos</a>

<h1>Productos</h1>

<form method="post">
    <div>
        <label asp-for="nombreProducto">Nombre Producto</label>
        <input asp-for="nombreProducto">
    </div>
    <div>
        <label asp-for="marca">Marca</label>
        <input asp-for="marca">
    </div>
    <div>
        <label asp-for="distintivo">Distintivo</label>
        <input asp-for="distintivo">
    </div>
    <div>
        <label asp-for="color">Color</label>
        <input asp-for="color">
    </div>
    <div>
        <label asp-for="cantidad">Cantidad</label>
        <input asp-for="cantidad">
    </div>
    <div>
        <label asp-for="precio">Precio</label>
        <input asp-for="precio">
    </div>
    <input type="submit" value="Agregar" >
</form>

@* <partial name="ProductoS"/> *@
